<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="assets/dist/img/opd.png" alt="OPD Module" width="128" height="128">
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <form action="/" method="post">
                <div class="form-group has-feedback">
                    <input id="user" type="text" class="form-control" placeholder="Username">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="pwd" type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-8">
                        <div class="checkbox ">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <!--<a href="views/index.html" class="btn btn-warning btn-block btn-flat">Sign In</a>-->
                        <button type="button" class="btn btn-warning btn-block btn-flat" onclick="loginUser()">Sign In
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <br>
            <a href="#">Forgot Password</a>
            <br>
            <!--<a href="views/db-register-form.html" class="text-center">Register Account</a>-->
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</div>