<div ng-controller="OPrescriptionController">
    <h1>
        Prescription
    </h1>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Prescription</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">

                <div class="form-group">
                    <label for="exampleInputPatientId">Patient ID</label>
                    <input type="text" class="form-control" id="exampleInputPatientId"  required placeholder="Patient ID"
                           ng-model="patientPrescription.patientId">
                </div>

                <div class="form-group">
                    <label for="exampleInputPatientName">Patient Name</label>
                    <input type="text" class="form-control" id="exampleInputPatientName" required  placeholder="Patient Name"
                           ng-model="patientPrescription.patientName">
                </div>

                <div class="form-group">
                    <label for="exampleInputDoctor">Prescribed Physician</label>
                    <input type="text" class="form-control" id="exampleInputDoctor" required  placeholder="Prescribed Physician"
                           ng-model="patientPrescription.prescribedPhysician">
                </div>

                <div class="form-group">
                    <label>Date:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" required  id="datepicker"
                               ng-model="patientPrescription.date">
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    <label for="exampleInputMedicineName">Name of Medicine</label>
                    <input type="text" class="form-control" id="exampleInputMedicineName" required  placeholder="Name of Medicine"
                           ng-model="patientPrescription.nameOfMedicine">
                </div>

                <div class="form-group">
                    <label>Strength</label>
                    <select class="form-control" ng-model="patientPrescription.strength">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputFrequency">Frequency</label>
                    <input type="text" class="form-control" id="exampleInputFrequency"  required placeholder="Frequency"
                           ng-model="patientPrescription.frequency">
                </div>

                <div class="form-group">
                    <label for="exampleInputDuration">Duration</label>
                    <input type="text" class="form-control" id="exampleInputDuration" required  placeholder="Duration"
                           ng-model="patientPrescription.duration">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Clear</button>

                    <button type="submit" class="btn btn-info pull-right">Delete</button>
                    <button type="submit" class="btn btn-info pull-right" ng-click="getPatientPres()">Edit</button>
                    <button type="submit" class="btn btn-info pull-right"
                            ng-click="addPatientPres(patientPrescription)">Add
                    </button>
                </div>


                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                           aria-describedby="example2_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="No: activate to sort column ascending">No
                            </th>
                            <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Name of Medication: activate to sort column ascending"
                                aria-sort="descending">Name of Medication
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Strength: activate to sort column ascending">Strength
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Frequency: activate to sort column ascending">Frequency
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Duration: activate to sort column ascending">Duration
                            </th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr role="row" class="odd" ng-repeat="medicine in patientPrescription">
                            <td class="sorting_1">{{$index+1}}</td>
                            <td>{{medicine.nameOfMedicine}}</td>
                            <td>{{medicine.strength}}</td>
                            <td>{{medicine.frequency}}</td>
                            <td>{{medicine.duration}}</td>
                        </tbody>

                    </table>
                </div>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Send</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>