<div ng-controller="OLabController" ng-init="addPatientLaboratory(patientLaboratory)">
    <h1>
        Laboratory
    </h1>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Lab Request</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputPatientId">Patient ID</label>
                    <input type="text" class="form-control" id="exampleInputPatientId" required  placeholder="Patient ID"
                           ng-model="patientLaboratory.patientId">
                </div>

                <div class="form-group">
                    <label for="exampleInputDoctorReq">Requested Physician</label>
                    <input type="text" class="form-control" id="exampleInputDoctorReq" required  placeholder="Requested Physician"
                           ng-model="patientLaboratory.requestedPhysician">
                </div>

                <div class="form-group">
                    <label>Test Name</label>
                    <select class="form-control" ng-model="patientLaboratory.testName">
                        <option value="test1">Test1</option>
                        <option value="test2">Test2</option>
                        <option value="test3">Test3</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Priority</label>
                    <select class="form-control" ng-model="patientLaboratory.priority">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Requested Date:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" required  id="datepicker2"
                               ng-model="patientLaboratory.requestedDate">
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    <label>Due Date:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" required  id="datepicker3"
                               ng-model="patientLaboratory.dueDate">
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    <label for="exampleInputComment">Comment</label>
                    <textarea class="form-control" id="exampleInputComment" name="fullname" required="required" rows="3"
                              ng-model="patientLaboratory.comment"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Clear</button>

                    <button type="submit" class="btn btn-info pull-right">Delete</button>
                    <button type="submit" class="btn btn-info pull-right">Edit</button>
                    <button type="submit" class="btn btn-info pull-right"
                            ng-click="addPatientLaboratory(patientLaboratory)">Add
                    </button>
                </div>


                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                           aria-describedby="example2_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="No: activate to sort column ascending"
                                aria-sort="descending">No
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Name of Test: activate to sort column ascending">Name of Test
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Priority: activate to sort column ascending">Priority
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                aria-label="Due Date: activate to sort column ascending">Due Date
                            </th>


                        </tr>
                        </thead>

                        <tbody>
                        <tr role="row" class="odd" ng-repeat="lab in patientLaboratory">
                            <td class="sorting_1">{{$index+1}}</td>
                            <td>{{lab.testName}}</td>
                            <td>{{lab.priority}}</td>
                            <td>{{lab.dueDate}}</td>
                        </tbody>

                    </table>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right" onclick="laboratory()">Send</button>
                <script>
                    function laboratory() {
                        alert('Successfully sent to Laboratory!!!');
                    }
                </script>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>