<div ng-controller="ChechkoutcCtrl" >
    <section class="content">
        <div class="modal-example">

            <div class="row">

                <div class="col-md-12" style="margin-top:10px ; margin-left:-20px">

                    <br>


                    <div class="panel panel-info" style="margin-left: 40px; "><!-- starting point of panel-->
                        <div class="panel-heading"><!-- starting point of panel head-->
                        </div><!-- Ending point of panel head-->
                        <div class="panel-body"><!-- starting point of body-->

                            <!-- Main content -->


                            <div class="row">
                                <div class="col-md-6">

                                    <div class="container">

                                        <div class="row">
                                            <div class="col-lg-11" style="width:950px ; margin-right:5px">
                                                <div class="well well-sm">
                                                    <div class="row" >
                                                        <div class="col-md-3">
                                                            <div class="col-sm-10 ">
                                                                <img class="img-rounded img-responsive"
                                                                     src="http://his.sliit.lk/OPD//assets/ico/proimage.jpg">

                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-5">

                                                            <h4>Dr Iresh Perera </h4>

                                                            <table>
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding-right: 40px"><strong>HIN</strong>
                                                                    </td>
                                                                    <td style="padding-left: 10px">
                                                                        {{patient.id}}
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td><strong>Gender</strong></td>
                                                                    <td style="padding-left: 10px">
                                                                        {{patient.gender}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 90px"><strong>Civil
                                                                        Status</strong></td>
                                                                    <td style="padding-left: 10px">
                                                                        {{patient.civilStataus}}
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td style="width: 50px"><strong>Date of
                                                                        Birth</strong></td>
                                                                    <td style="padding-left: 10px">
                                                                        {{patient.dob}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><strong>Phone </strong></td>
                                                                    <td style="padding-left: 10px">
                                                                        {{patient.phone}}
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td><strong>Address </strong></td>
                                                                    <td style="padding-left: 10px">
                                                                        {{patient.address}}
                                                                    </td>


                                                                </tr>


                                                                </tbody>
                                                            </table>
                                                            <!-- Split button -->

                                                        </div>
                                                        <div class="col-md-4">

                                                            <div class="btn-group pull-right">
                                                                <a href="http://his.sliit.lk/OPD/index.php/patient_c/edit/3"
                                                                   class="btn-xs btn-primary pull-right"> <i
                                                                        class="fa fa-edit"></i> Edit
                                                                </a>
                                                                <br>

                                                            </div>
                                                            <h4>
                                                                <br>


                                                            </h4>
                                                            <table>

                                                                <tbody>
                                                                <tr style="padding-top: 40px">
                                                                    <td><strong>Blood Group </strong></td>
                                                                    <td style="padding-left: 25px ">
                                                                        <font color="red">

                                                                            <font color="red">Not Availabe</font>

                                                                        </font>
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td><strong>BMI </strong></td>
                                                                    <td style="padding-left: 25px ">
                                                                        <font color="red">
                                                                            2.2163081271132 </font>
                                                                    </td>


                                                                </tr>
                                                                <tr>
                                                                    <td><strong>Resent Allergies </strong></td>
                                                                    <td style="padding-left: 25px ">


                                                                        No Recent Allergies
                                                                    </td>


                                                                </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <button class="btn btn-app"   ng-click="go('/MyQueue');"
                                                                style="color:limegreen;margin-top:40px;;margin-left:200px;" >
                                                            <i class="fa fa-edit" ></i> Checkout
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- ./col -->
                                </div>


                            </div>
                            <!-- ./row -->

                            <div class="col-md-6">
                                <div class="box box-solid box-default collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Allergies</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" onclick="disabledaln()"
                                                    data-widget="collapse"><i class="fa fa-plus"></i></button>
                                        </div><!-- /.box-tools -->

                                        <span class="badge badge-notify pull-right" id="allergyn"></span>


                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <br>
                                        <div id="tabletestp_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div id="tabletestp_length" class="dataTables_length"><label><select
                                                            size="1" name="tabletestp_length"
                                                            aria-controls="tabletestp">
                                                        <option value="10" selected="selected">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> records per page</label></div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="dataTables_filter" id="tabletestp_filter"><label>Search:
                                                        <input type="text" aria-controls="tabletestp"></label></div>
                                                </div>
                                            </div>
                                            <table class="table table-bordered table-striped table-hover dataTable"
                                                   id="tabletestp" aria-describedby="tabletestp_info">

                                                <thead>
                                                <tr role="row">
                                                    <th width="25px" class="sorting_asc" role="columnheader"
                                                        tabindex="0" aria-controls="tabletestp" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="#: activate to sort column descending"
                                                        style="width: 25px;">#
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="tabletestp" rowspan="1" colspan="1"
                                                        aria-label="Allergy: activate to sort column ascending"
                                                        style="width: 0px;">Allergy
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="tabletestp" rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending"
                                                        style="width: 0px;">Status
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="tabletestp" rowspan="1" colspan="1"
                                                        aria-label="Remarks: activate to sort column ascending"
                                                        style="width: 0px;">Remarks
                                                    </th>
                                                </tr>

                                                </thead>


                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                <tr class="odd">
                                                    <td valign="top" colspan="4" class="dataTables_empty">No data
                                                        available in table
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="dataTables_info" id="tabletestp_info">Showing 0 to 0 of
                                                        0 entries
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="dataTables_paginate paging_bootstrap">
                                                        <ul class="pagination">
                                                            <li class="prev disabled"><a href="#">← Previous</a></li>
                                                            <li class="next disabled"><a href="#">Next → </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->


                            <!-- Message for last checkIN status  ************************************************************** -->
                            <!-- **************************************************************************************** -->

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>