<section class="content">
    <div class="modal-example"><script>
        $(function () {
            $('#myTab a:last').tab('show');
        })
    </script>

        <div class="row">
            <div class="col-md-12">
                <div class="panel ">
                    <div class="panel-heading"> <!-- Starting point of panel Head-->
                        <h2 class="panel-title">My Home</h2>
                    </div>
                    <div class="panel-body">


                        <div class="widget-title">
                    <span class="icon">
                        <i class="icon-tasks"></i>
                    </span>
                            <h5><b>Queue</b></h5><b>
                        </b></div><b>
                        <!--          <table style="float:left; width: 255px;  margin-left: 20px;  margin-top: 18px;">
                                      <tr>
                                            <div class="widget-content nopadding">
                                                <div class="chat-content panel-left">
                                                <div class="chat-messages" id="chat-messages">
                                                <div>
                        <td>-->
                        <!--<ul >-->

                        <!--<li><i class="icon-user"></i>  <div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                     <h4>A PHP Error was encountered</h4>

                     <p>Severity: Notice</p>
                     <p>Message:  Undefined property: stdClass::$employees</p>
                     <p>Filename: views/operator_queue_v.php</p>
                     <p>Line Number: 32</p>

                     </div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

                     <h4>A PHP Error was encountered</h4>

                     <p>Severity: Notice</p>
                     <p>Message:  Trying to get property of non-object</p>
                     <p>Filename: views/operator_queue_v.php</p>
                     <p>Line Number: 32</p>

                     </div>Dr.   </p>-->


                        <!--                                <li><i class="icon-user"></i> <strong>0</strong> <small>Patient(s)</small></li>
                             <li style="background-color: #F2DEDE;border-color: #EED3D7; "><i class="icon-arrow-right"></i>
                                 <strong>
                                        On Hold
                                 </strong>
                                 <small>Queue Status</small>
                             </li>

                             <li><i class="icon-arrow-right"></i> <strong>  Regular </strong> <small>Queue Type</small></li>-->
                        <!--
                                                        <li class="divider"></li>-->


                        <!--</ul>-->

                        <!--</td>
                                      </tr></table>-->
                        <!--			</div>-->

                        <div id="q" class="widget-content qcontainer">

                            <!--                            <div id="w1" class="alert alert-warning" style='height: 91%; position: relative;  left: -4px;  top: 6px;  '>
                                                            <center>
                                                                <br><br><br><br>
                                                                <h4> There Are No Patients In The Queue  </h4>
                                                            </center>
                                                        </div>-->







                            <!--<div class="img-thumbnail">-->
                            <div id="doc"><img alt="" src="http://his.sliit.lk/OPD//assets/ico/docicon.png">
                                <a href="http://his.sliit.lk/OPD/index.php/operator_home_c/view/3/Wasantha  ">
                                    Dr.Wasantha  Rathnayaka                        </a>
                                <!--<div class="img-thumbnail">-->
                                <div id="doc"><img alt="" src="http://his.sliit.lk/OPD//assets/ico/docicon.png">
                                    <a href="http://his.sliit.lk/OPD/index.php/operator_home_c/view/3/Dilini ">
                                        Dr.Dilini Jaye                        </a>
                                </div>
                                <!--</div>-->
                                <!--</div>-->


                                <div style="position: relative;width:220px;margin-left: 15px;margin-top: 30%;">
                                    <input class="btn btn-primary" type="button" onclick="window.location='/SEP_Project/index.php/queue_c/setQType'" value="Enable Visit Queue" style="width:220px;"><br><br>
                                </div>




                            </div>
                        </div></b></div></div></div></div></div></section>