
    <!-- Content Header (Page header) -->
<div ng-controller="MyQueueCtrl" ng-init="getPatient()">
    <section class="content-header">
        <h1>
            My Queue

        </h1>

    </section>
    <br>

    <section class="content" ng-app="OPDApp_2">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <div class="box box-solid" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
                    <div class="box-header with-border">
                        <i class="fa fa-bookmark"></i>
                        <h3 class="box-title">Summary View</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Name </td>
                                <td> : </td>
                                <td>{{doctor.name}}</td>
                            </tr>
                            <tr>
                                <td># of Patients </td>
                                <td> : </td>
                                <td>{{doctor.noOfPatient}}</td>
                            </tr>
                            <tr>
                                <td>Queue Status </td>
                                <td> : </td>
                                <td>{{doctor.queueStatus}}</td>
                            </tr>
                            <tr>
                                <td># of Treated Patients </td>
                                <td> : </td>
                                <td>{{doctor.noOfTreatedPatients}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- ./col -->


            <div class="col-md-3" style="margin-top: -10px;">
                <div class="box-body">
                    <div class="box box-solid" style="box-shadow: 0px 0px 2px rgba(0,0,0,0.2);">
                        <div class="box-header with-border">
                            <i class="fa fa-random"></i>
                            <h3 class="box-title">Queue Controller</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body" style="margin-top: 6px;">
                            <br>
                            <input class="btn btn-block btn-primary"ng-click="resume('doc_102')" value="Resume Queue">
                            <br><br>
                            <input class="btn btn-block btn-danger" ng-click="redirect('doc_102')" type="button" value="Redirect Queue">
                            <br>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>

        </div>
        <div class="row">


        </div>




        <div class="row">
            <div class="box-body">
                <div class="box-header with-border bg-aqua">
                    <i class="fa fa-medkit"></i>
                    <h3 class="box-title">Queue Order</h3>
                </div><!-- /.box-header -->

                <br>
                <div class="col-lg-3 col-xs-4" >
                    <!-- small box -->
                    <div class="small-box bg-aqua" ng-repeat="patient in patients">
                        <div class="inner">
                            <h5><b style="color: black;">Patient Name : {{patient.title}}{{patient.firstName}}{{patient.lastName}}</b></h5>
                            <p>Patient ID : {{patient._id}}</p>
                            <p>Queue Number : {{patient.queueNo}}</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-male"></i>
                        </div>
                        <a class="small-box-footer" style="padding-top: 15px;" href ng-click="go('dashboard-doctor.patientInfo');showMoreDetail(patient)">
                            More info <i class="fa fa-arrow-circle-right" ></i>
                        </a>
                    </div>
                </div>




            </div>
        </div><!-- /.row -->
        <!-- Main row -->

    </section>

    <br>


    <script src="http://his.sliit.lk/OPD/Bootstrap/js/barcdeReader"></script>

</div>

