
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            Questionnaire <small> View Questionnaire</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-th-list"></i> Questionnaire</a></li>
            <li class="active">View Questionnaire
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ol>
    </section>
    <br>
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <br><div id="tabletestp_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-xs-6"><div id="tabletestp_length" class="dataTables_length"><label><select size="1" name="tabletestp_length" aria-controls="tabletestp"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="col-xs-6"><div class="dataTables_filter" id="tabletestp_filter"><label>Search: <input type="text" aria-controls="tabletestp"></label></div></div></div><table class="table table-bordered table-striped table-hover dataTable" id="tabletestp" aria-describedby="tabletestp_info">

                        <thead>
                        <tr role="row"><th width="25px" class="sorting_asc" role="columnheader" tabindex="0" aria-controls="tabletestp" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 24px;">#</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="tabletestp" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 307px;">Name</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="tabletestp" rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending" style="width: 271px;">Type</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="tabletestp" rowspan="1" colspan="1" aria-label="Remarks: activate to sort column ascending" style="width: 416px;">Remarks</th></tr>

                        </thead>


                        <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd"><td valign="top" colspan="4" class="dataTables_empty">No data available in table</td></tr></tbody></table><div class="row"><div class="col-xs-6"><div class="dataTables_info" id="tabletestp_info">Showing 0 to 0 of 0 entries</div></div><div class="col-xs-6"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination"><li class="prev disabled"><a href="#">← Previous</a></li><li class="next disabled"><a href="#">Next → </a></li></ul></div></div></div></div>
                    </div>
                </div>
            </div>
        </div>


    </section>

